body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 228, 250);
}
.cajas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cajas .caja{
    padding: 15px;
    background-color: #122639;
    margin: 25px 10px;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: -3px 0 10px rgba(0,0,0,0.3), -4px 0 10px rgba(0,0,0,0.2), -5px 0 10px rgba(0,0,0,0.1);
}

.cajas .caja .title{
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    color: #20dad8;
    font-size: 28px;
}
.cajas .caja:hover{
    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px)
}

.caja img{
    width: 200px;
}